<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					
					<div class="page-title">	
						<div class="title_right">
							<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"	placeholder="Search for..." /> 
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}"></th:body></h2>
								<div th:if="${param.success ne null and param.success[0] eq 'true'}" class="alert alert-success">Budget Added!</div>
						    	
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">

                    		<!-- <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p> -->

                    		<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
									<thead>
								    	<tr class="headings">
											<th class="column-title">Project Name </th>
											<th class="column-title">Description </th>
											<th class="column-title">Year</th>
											<th class="column-title">Status</th>
							  			</tr>
									</thead>

                        			<tbody>
										<tr class="toprow pointer"> 
												<td th:text="${project.name}"></td>
											<td th:text="${project.description}"></td>
											<td th:text="${project.year}"></td>
											<td th:text="${project.enabled}"></td>
										</tr>			
									</tbody>
           						</table>
       						</div>
       					</div>
   					</div>
   				</div>
   					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}"> - Budgets</th:body></h2>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
							    	<thead>
							        	<tr class="headings">
									    	<th class="column-title">Budget Name </th>
					                       	<th class="column-title">Description - Short </th>
											<th class="column-title">Amount Requested</th>
											<th class="column-title">Amount Approved</th>
											<th class="column-title">Q1</th>
											<th class="column-title">Q2</th>
											<th class="column-title">Q3</th>
											<th class="column-title">Q4</th>
										</tr>
						            </thead>
									<tbody>
										<th:block th:each="budget, rowStat : ${project.budgets}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer clickable-row" th:attr="data-href=@{/budget/}, data-id=${budget.id}">
												<td th:text="${budget.name}"></td>
												<td th:text="${budget.descriptionShort}"></td>				
												<td>$ <span th:text="${#numbers.formatDecimal(budget.requested_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.approved_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.q1, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.q2, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.q3, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.q4, 0, 'COMMA', 2, 'POINT')}"></span></td>
											</tr>
										</th:block>			
									</tbody>
						       	</table>
						    </div>
                    		
       					</div>
   					</div>
   				</div>
			</div>
		</div>
	</div>
									
	<!-- Page End -->
	<th:block th:include="/layout/footer :: footer"></th:block>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	
	</div>
</body>
</html>



