<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-inspinia"></th:block>
</head>


<body class="gray-bg">


<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
            You can go back to main page: <br/><a href="index2.html" class="btn btn-primary m-t">Home</a>
        </div>
    </div>


    <!-- Mainly scripts -->
	<th:block th:include="/layout/footer :: js-inspinia"></th:block>
	<th:block th:include="/layout/footer :: customjs-inspinia"></th:block>

</body>

</html>
