<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					
					<div class="page-title">	
						<div class="title_right">
							<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"	placeholder="Search for..." /> 
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}"></th:body></h2>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">

                    		<div class="table-responsive">
								<table class="table table-striped jambo_table">
									<thead>
								    	<tr class="headings">
											<th class="column-title">Project Name </th>
											<th class="column-title">Description </th>
											<th class="column-title">Year</th>
											<th class="column-title">Status</th>
							  			</tr>
									</thead>

                        			<tbody>
										<tr class="toprow pointer"> 
												<td th:text="${project.name}"></td>
											<td th:text="${project.description}"></td>
											<td th:text="${project.year}"></td>
											<td>
					                          	<div th:switch="${project.status}">
					                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
					                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
					                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
					                            </div>
											</td>
										</tr>			
									</tbody>
           						</table>
       						</div>
       					</div>
   					</div>
   				</div>
   					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}+' - Budgets'"></th:body></h2>
								<ul class="nav navbar-right panel_toolbox">
						      		<li>
						      			<!--  Modal work here for Add Project -->
						  				<button type="button" data-toggle="modal" data-target="#budget-modal-add" class="btn btn-primary btn-sm add_budget" th:attr="data-id=${project.id},data-year=${project.year}">Add Budget</button>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
							    	<thead>
							        	<tr class="headings">
									    	<th class="column-title">Budget Name </th>
					                       	<th class="column-title">Description</th>
											<th class="column-title">Amount Requested</th>
											<th class="column-title">Amount Approved</th>
											<th class="column-title">Region</th>
											<th class="column-title">Status</th>
											<th class="column-title">Action</th>
										</tr>
						            </thead>
									<tbody>
										<th:block th:each="budget, rowStat : ${project.budgets}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer">
												<td th:text="${budget.name}"></td>
												<td th:text="${budget.descriptionShort}"></td>				
												<td>$ <span th:text="${#numbers.formatDecimal(budget.requested_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.approved_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td th:text="${budget.region}"></td>
												<td>
						                          	<div th:switch="${budget.status}">
						                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
						                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
						                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
						                            </div>
												</td>
												<td class=" last">
													<a th:href="@{/budget/}+${budget.id}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
													<a  data-toggle="modal" href="#budget-modal-edit" class="btn btn-info btn-xs popProject" sec:authorize="hasAuthority('ROLE_ADMIN')" 
														th:attr="data-id=${project.id},
														data-name=${project.name},
														data-description=${project.description},
														data-status=${project.status},
														data-type=${project.type},
														data-year=${project.year}">
														<i class=" fa fa-pencil"></i>Edit
													</a>
													<a data-toggle="modal" href="#budget-modal-delete" class="btn btn-danger btn-xs popProject" sec:authorize="hasAuthority('ROLE_ADMIN')"
													   th:attr="data-id=${project.id},
													   data-name=${project.name},
													   data-description=${project.description},
													   data-status=${project.status},
													   data-type=${project.type},
													   data-year=${project.year}">
													  <i class="fa fa-trash-o"></i> Delete </a>
												</td>
											</tr>
										</th:block>			
									</tbody>
						       	</table>
						    </div>
                    		
       					</div>
   					</div>
   				</div>
			</div>
		</div>
	</div>
	<!-- budget-Modal-Add Start -->
		<form action="#" th:action="@{/budget}" th:object="${budget}" method="post">
			<div class="modal fade" id="budget-modal-add" tabindex="-1" role="dialog" aria-labellefby="addBudget">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="addUser">Add Budget</h4>
						</div>
						
						<div class="modal-body">
						
							<input class="form-control project-id" type="hidden" th:field="*{project.id}" name="id" readonly="readonly" th:value="${project.id}" />
						
							<ul class="nav nav-pills nav-stacked col-md-2">
							  <li class="active"><a href="#tab_profile" data-toggle="pill">Profile</a></li>
							  <li><a href="#tab_details" data-toggle="pill">Details</a></li>
							  <li><a href="#tab_breakout" data-toggle="pill">Breakout</a></li>
							</ul>
							
							<div class="tab-content col-md-10">
								
								<div class="tab-pane active" id="tab_profile">
							    	<label for="budgetName">Name:</label>
									<input type="text" th:field="*{name}" id="budgetName" class="form-control" />
									
									<label for="budgetDescriptionShort">Short Description:</label>
									<input type="text" th:field="*{descriptionShort}" id="budgetDescriptionShort" class="form-control" />
									
									<label for="budgetDescriptionLong">Long Description:</label>
									<textarea style="resize:none" th:field="*{descriptionLong}" class="form-control" rows="3" id="budgetDescriptionLong"></textarea>
									
									<label for="budgetYear">Year:</label>
									<input type="text" th:field="*{year}" id="budgetYear" class="form-control project-year" name="year" readonly="readonly" th:value="${project.year}" />
									
									<label for="budgetCode">Budget Code:</label>
									<input type="text" th:field="*{budget_code}" id="budgetCode" class="form-control" />
									<br />
									
							    </div>
							    
						        <div class="tab-pane" id="tab_details">
						             <label for="budgetStatus">Status:</label>
									<select th:field="*{status}" id="budgetStatus" class="form-control">
				                        <option value="">Choose..</option>
				                        <option value="Planning">Planning</option>
				                        <option value="Open">Open</option>
				                        <option value="Closed">Closed</option>
			                        </select>
												
									<label for="budgetCategory" class="control-label">Category:</label>
			                        <select th:field="*{category}" id="budgetCategory" class="form-control">
				                        <option value="">Choose..</option>
				                        <option value="Datacenter">Datacenter</option>
                            			<option value="License">License</option>
                           				<option value="Software">Software</option>
                           				<option value="Opex">Opex</option>
			                        </select>
			                        
			                        <label for="budgetRegion" class="control-label">Region:</label>
			                        <select th:field="*{region}" id="budgetRegion" class="form-control">
				                        <option value="">Choose..</option>
				                       	<option value="Global">Global</option>
			                            <option value="US">US</option>
			                            <option value="EMEA">EMEA</option>
			                            <option value="APAC">APAC</option>
			                            <option value="LATAM">LATAM</option>
			                        </select>
			                        
			                        <label for="budgetCriticality" class="control-label">Criticality:</label>
			                        <select th:field="*{criticality}" id="budgetCriticality" class="form-control">
				                        <option value="">Choose..</option>
				                        <option value="1- Lights Out">1- Lights Out</option>
			                            <option value="2 - Critical">2 - Critical</option>
			                            <option value="3 - Project">3 - Project</option>
			                        </select>
			                        
			                        <label for="budgetRanking" class="control-label">Ranking:</label>
			                        <select th:field="*{ranking}" id="budgetRanking" class="form-control">
				                        <option value="0">Choose..</option>
				                        <option value="1">1</option>
			                            <option value="2">2</option>
			                            <option value="3">3</option>
			                            <option value="4">4</option>
			                        </select>
			                        
			                        <br />
						        </div>
						        
						        <div class="tab-pane" id="tab_breakout">
						        	<label for="budgetQ1amount">Q1 amount:</label>
									<input type="text" th:field="*{q1}" id="budgetQ1amount" class="form-control" />
									<div class="checkbox">
										<label><input type="checkbox" th:field="*{q1_enabled}" />Q1 enabled</label>
									</div>
									
									<label for="budgetQ2amount">Q2 amount:</label>
									<input type="text" th:field="*{q2}" id="budgetQ2amount" class="form-control" />
									<div class="checkbox">
										<label><input type="checkbox" th:field="*{q2_enabled}" />Q2 enabled</label>
									</div>
									
									<label for="budgetQ3amount">Q3 amount:</label>
									<input type="text" th:field="*{Q3}" id="budgetQ3amount" class="form-control" />
									<div class="checkbox">
										<label><input type="checkbox" th:field="*{Q3_enabled}" />Q3 enabled</label>
									</div>
									
									<label for="budgetQ4amount">Q4 amount:</label>
									<input type="text" th:field="*{Q4}" id="budgetQ4amount" class="form-control" />
									<div class="checkbox">
										<label><input type="checkbox" th:field="*{Q4_enabled}" />Q4 enabled</label>
									</div>
									
									<br />
						        </div>
							        
							</div><!-- tab content -->				
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- Budget-Modal-Add End -->								
	<!-- Page End -->
	<th:block th:include="/layout/footer :: footer"></th:block>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	<script>
		    $(document).on("click", '.add_budget',function(e) {
				var id = $(this).data('id');
				var year = $(this).data('year');
				console.log(id);
				$(".project-id").val(id);
				$(".project-year").val(year);
			});
	</script>
	<!-- Populate Budget Start -->
    <script>
    	var id;
	    $(document).on("click", '.popProject',function(e) {
			id = $(this).data('id');
			var name = $(this).data('name');
			var description = $(this).data('description');
			var status = $(this).data('status');
			var type = $(this).data('type');
			var year = $(this).data('year');

			console.log(year);

			$(".project-id").val(id);
			$(".project-name").val(name);
			$(".project-description").val(description);
			$(".project-status").val(status);
			$(".project-type").val(type);
			$(".project-year").val(year);

			
		});
    </script>
    <!-- Populate Budget End -->
    <!-- Delete Budget Start  -->
    <script>
    	$(document).on("click", '.delete-button',function(e) {
    		location.href = "/project/delete/"+id;
    	});
    </script>
    <!-- Delete Budget End -->
	</div>
</body>
</html>



