<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					<div class="page-title">
						
						<div class="title_left">
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<th:body th:if="${year == null}" th:text="All"></th:body>
									<th:body th:if="${year != null}" th:text="${year}"></th:body>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<th:body th:each="link : ${links}">
										<li><a th:href="@{/budget-details(year=${link})}" th:text="${link}"></a></li>
									</th:body>
								</ul>
							</div>
						</div>

						<div class="title_right">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"	placeholder="Search for..." /> 
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Projects</h2>
								<div th:if="${param.success ne null and param.success[0] eq 'true'}" class="alert alert-success">Budget Added!</div>
						    	<ul class="nav navbar-right panel_toolbox">
						      		<li>
						      			<!--  Modal work here for Add Project -->
						  				<button type="button" data-toggle="modal" data-target="#project-modal" class="btn btn-default btn-sm">Add</button>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">

                    		<!-- <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p> -->

                    		<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
									<thead>
								    	<tr class="headings">
								      		<th><input type="checkbox" id="check-all" class="flat" /></th>
											<th class="column-title">Project Name </th>
											<th class="column-title">Description </th>
											<th class="column-title">Year</th>
											<th class="column-title">Status</th>
											<th class="column-title no-link last"><span class="nobr">Action</span></th>
								      		<th class="bulk-actions" colspan="7">
								        		<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
								    		</th>
							  			</tr>
									</thead>

                        			<tbody>
										<th:block th:each="project, rowStat : ${projects}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer"> <!-- Change This Odd/Even -->
												<td class="a-center "><input type="checkbox" class="flat" name="table_records" /></td>
												<td><a th:href="@{/project/${project.id}}"><th:block th:text="${project.name}"></th:block></a></td>
												<td th:text="${project.description}"></td>
												<td th:text="${project.year}"></td>
												<td th:text="${project.enabled}"></td>
												<td class=" last"><a href="#">Edit</a></td>
											</tr>
										</th:block>			
									</tbody>
           						</table>
       						</div>
       					</div>
   					</div>
   				</div>
			</div>
		</div>

		<!-- Project Wizard Start -->
		
		<!-- Wizard Modal Start -->		
		<div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labellefby="addProject">
			<div class="modal-dialog" role="document">
				<div class="modal-content">	
					
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="addProject">Project</h4>
					</div>
						
					<div class="modal-body">
						<div class="row">
              				<div class="col-md-12 col-sm-12 col-xs-12">
                				<div class="x_panel">
                  					
				                   		<div id="wizard" class="form_wizard wizard_horizontal">
				             				<ul class="wizard_steps">
				               					<li>
													<a href="#step-1">
												    	<span class="step_no">1</span><span class="step_descr">Step 1<br /><small>Details</small></span>
				  									</a>
												</li>
				               					<li>
				                 					<a href="#step-2">
				                 						<span class="step_no">2</span><span class="step_descr">Step 2<br /><small>Budgets</small></span>
				                					</a>
								                </li>
								                <li>
				                 					<a href="#step-3">
				                   						<span class="step_no">3</span><span class="step_descr">Step 3<br /><small>Complete</small></span>
				                 					</a>
				                  				</li>
				       						</ul>
				                     
				                     		<form class="form-horizontal form-label-left" action="#" th:action="@{project}" th:object="${project}" method="post">
				                     			<div id="step-1">
				                         				
			                         				<div class="form-group">
				                           				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-name">Name <span class="required">*</span></label>
				                           				<div class="col-md-6 col-sm-6 col-xs-12">
				                             					<input type="text" th:field="*{name}" id="project-name" required="required" class="form-control col-md-7 col-xs-12"/>
			                           					</div>
			                         				</div>
				                         				
			                         				<div class="form-group">
				                           				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-description">Description <span class="required">*</span></label>
				                           				<div class="col-md-6 col-sm-6 col-xs-12">
				                             					<input type="text" th:field="*{description}" id="project-description" required="required" class="form-control col-md-7 col-xs-12"/>
			                           					</div>
			                         				</div>
				                         				
			                         				<div class="form-group">
				                           				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-year">Year <span class="required">*</span></label>
				                           				<div class="col-md-6 col-sm-6 col-xs-12">
				                            					<input type="text" th:field="*{Year}" id="project-year" required="required" class="form-control col-md-7 col-xs-12"/>
			                           					</div>
			                         				</div>
												</div>
							                      
							                    <div id="step-2">
							                    	<h2 class="StepTitle">Step 2 Content</h2>
												</div>
							 
						                    	<div id="step-3">
							                    	<h2 class="StepTitle">Step 3 Content</h2>
														<button type="submit" class="btn btn-primary">Add</button>
							                    </div>									
											</form>
										</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page End -->
	<th:block th:include="/layout/footer :: footer"></th:block>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	<!-- Initialize Project Wizard -->
	<script>
		$(document).ready(function() {
		 $('#wizard').smartWizard();
		
		 $('.buttonNext').addClass('btn btn-success');
		 $('.buttonPrevious').addClass('btn btn-primary');
		});
	</script>
	<!-- Project Wizard End -->
	</div>
</body>
</html>



