<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					
					<div class="page-title">	
						<div class="title_right">
							<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"	placeholder="Search for..." /> 
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}"></th:body></h2>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">

                    		<div class="table-responsive">
								<table class="table table-striped jambo_table">
									<thead>
								    	<tr class="headings">
											<th class="column-title">Project Name </th>
											<th class="column-title">Description </th>
											<th class="column-title">Year</th>
											<th class="column-title">Status</th>
							  			</tr>
									</thead>

                        			<tbody>
										<tr class="toprow pointer"> 
												<td th:text="${project.name}"></td>
											<td th:text="${project.description}"></td>
											<td th:text="${project.year}"></td>
											<td>
					                          	<div th:switch="${project.status}">
					                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
					                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
					                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
					                            </div>
											</td>
										</tr>			
									</tbody>
           						</table>
       						</div>
       					</div>
   					</div>
   				</div>
   					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}+' - Budgets'"></th:body></h2>
								<ul class="nav navbar-right panel_toolbox">
						      		<li>
						      			<!--  Modal work here for Add Project -->
						  				<button type="button" data-toggle="modal" data-target="#budget-modal-add" class="btn btn-primary btn-sm">Add Budget</button>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
							    	<thead>
							        	<tr class="headings">
									    	<th class="column-title">Budget Name </th>
					                       	<th class="column-title">Description</th>
											<th class="column-title">Amount Requested</th>
											<th class="column-title">Amount Approved</th>
											<th class="column-title">Region</th>
											<th class="column-title">Status</th>
											<th class="column-title">Action</th>
										</tr>
						            </thead>
									<tbody>
										<th:block th:each="budget, rowStat : ${project.budgets}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer">
												<td th:text="${budget.name}"></td>
												<td th:text="${budget.descriptionShort}"></td>				
												<td>$ <span th:text="${#numbers.formatDecimal(budget.requested_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.approved_amount, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td th:text="${budget.region}"></td>
												<td>
						                          	<div th:switch="${budget.status}">
						                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
						                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
						                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
						                            </div>
												</td>
												<td class=" last">
													<a th:href="@{/budget/}+${budget.id}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
													<a  data-toggle="modal" href="#budget-modal-edit" class="btn btn-info btn-xs popProject" sec:authorize="hasAuthority('ROLE_ADMIN')" 
														th:attr="data-id=${project.id},
														data-name=${project.name},
														data-description=${project.description},
														data-status=${project.status},
														data-type=${project.type},
														data-year=${project.year}">
														<i class=" fa fa-pencil"></i>Edit
													</a>
													<a data-toggle="modal" href="#budget-modal-delete" class="btn btn-danger btn-xs popProject" sec:authorize="hasAuthority('ROLE_ADMIN')"
													   th:attr="data-id=${project.id},
													   data-name=${project.name},
													   data-description=${project.description},
													   data-status=${project.status},
													   data-type=${project.type},
													   data-year=${project.year}">
													  <i class="fa fa-trash-o"></i> Delete </a>
												</td>
											</tr>
										</th:block>			
									</tbody>
						       	</table>
						    </div>
                    		
       					</div>
   					</div>
   				</div>
			</div>
		</div>
	</div>
	<!-- budget-Modal-Add Start -->
		<form action="#" th:action="@{/budget}" th:object="${budget}" method="post">
			<div class="modal fade" id="budget-modal-add" tabindex="-1" role="dialog" aria-labellefby="addBudget">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="addUser">Add Budget</h4>
						</div>
						
						<div class="modal-body">
						
							<ul class="nav nav-pills nav-stacked col-md-2">
							  <li class="active"><a href="#tab_a" data-toggle="pill">Profile</a></li>
							  <li><a href="#tab_b" data-toggle="pill">Details</a></li>
							  <li><a href="#tab_c" data-toggle="pill">Breakout</a></li>
							  <li><a href="#tab_d" data-toggle="pill">Finish</a></li>
							</ul>
							
							<div class="tab-content col-md-10">
								
								<div class="tab-pane active" id="tab_a">
							    	<div class="form-group">
				                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Budget Name</label>
				                        <div class="col-md-9 col-sm-9 col-xs-12">
				                          	<input type="text" th:field="*{name}" class="form-control" />
											<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
				                        </div>
				                      </div>
				                      
				                      <div class="form-group">
				                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Budget Description - Short</label>
				                        <div class="col-md-9 col-sm-9 col-xs-12">
				                          	<input type="text" th:field="*{descriptionShort}" class="form-control" />
											<span th:if="${#fields.hasErrors('descriptionShort')}" th:errors="*{descriptionShort}">error</span>
				                        </div>
				                      </div>
				                      
				                      <div class="form-group">
				                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Budget Description - Long <span class="required">*</span>
				                        </label>
				                        <div class="col-md-9 col-sm-9 col-xs-12">
				                          	<textarea th:field="*{descriptionLong}" class="form-control" rows="3"></textarea>
											<span th:if="${#fields.hasErrors('descriptionLong')}" th:errors="*{descriptionLong}">error</span>
				                        </div>
				                      </div>    
							    </div>
							        <div class="tab-pane" id="tab_b">
							             <h4>Pane B</h4>
							            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
							                ac turpis egestas.</p>
							        </div>
							        <div class="tab-pane" id="tab_c">
							             <h4>Pane C</h4>
							            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
							                ac turpis egestas.</p>
							        </div>
							        <div class="tab-pane" id="tab_d">
							             <h4>Pane D</h4>
							            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
							                ac turpis egestas.</p>
							        </div>
							</div><!-- tab content -->				
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- Budget-Modal-Add End -->								
	<!-- Page End -->
	<th:block th:include="/layout/footer :: footer"></th:block>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	
	</div>
</body>
</html>



