<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					
					<div class="page-title">	
						<div class="title_right">
							<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"	placeholder="Search for..." /> 
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="clearfix"></div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}"></th:body></h2>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">

                    		<div class="table-responsive">
								<table class="table table-striped jambo_table">
									<thead>
								    	<tr class="headings">
											<th class="column-title">Project Name </th>
											<th class="column-title">Description </th>
											<th class="column-title">Year</th>
											<th class="column-title">Status</th>
							  			</tr>
									</thead>

                        			<tbody>
										<tr class="toprow pointer"> 
												<td th:text="${project.name}"></td>
											<td th:text="${project.description}"></td>
											<td th:text="${project.year}"></td>
											<td>
					                          	<div th:switch="${project.status}">
					                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
					                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
					                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
					                            </div>
											</td>
										</tr>			
									</tbody>
           						</table>
       						</div>
       					</div>
   					</div>
   				</div>
   					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2><th:body th:text="${project.name}+' - Budgets'"></th:body></h2>
								<ul class="nav navbar-right panel_toolbox">
						      		<li>
						      			<!--  Modal work here for Add Project -->
						  				<button type="button" data-toggle="modal" data-target="#budget-modal-add" class="btn btn-primary btn-sm add_budget" th:attr="data-projectid=${project.id},data-year=${project.year}">Add Budget</button>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>

                  			<div class="x_content">
							<div class="table-responsive">
								<table class="table table-striped jambo_table bulk_action">
							    	<thead>
							        	<tr class="headings">
									    	<th class="column-title">Budget Name </th>
					                       	<th class="column-title">Description</th>
											<th class="column-title">Amount Requested</th>
											<th class="column-title">Amount Approved</th>
											<th class="column-title">Region</th>
											<th class="column-title">Status</th>
											<th class="column-title">Action</th>
										</tr>
						            </thead>
									<tbody>
										<th:block th:each="budget, rowStat : ${project.budgets}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer">
												<td th:text="${budget.name}"></td>
												<td th:text="${budget.descriptionShort}"></td>				
												<td>$ <span th:text="${#numbers.formatDecimal(budget.budgetRequested, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td>$ <span th:text="${#numbers.formatDecimal(budget.budgetApproved, 0, 'COMMA', 2, 'POINT')}"></span></td>
												<td th:text="${budget.region}"></td>
												<td>
						                          	<div th:switch="${budget.status}">
						                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
						                            	<button th:case="'Closed'" type="button" class="btn btn-secondary btn-xs">Closed</button>
						                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
						                            </div>
												</td>
												<td class=" last">
													<a th:href="@{/budget/}+${budget.id}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
													<a  data-toggle="modal" href="#budget-modal-add" class="btn btn-info btn-xs popBudget edit_budget" sec:authorize="hasAuthority('ROLE_ADMIN')" 
														th:attr="data-id=${budget.id},
														data-projectid=${project.id},
														data-name=${budget.name},
														data-sdescription=${budget.descriptionShort},
														data-ldescription=${budget.descriptionLong},
														data-year=${budget.year},
														data-code=${budget.budgetCode},
														data-status=${budget.status},
														data-category=${budget.category},
														data-region=${budget.region},
														data-criticality=${budget.criticality},
														data-ranking=${budget.ranking},
														data-q1=${budget.q1},
														data-q1e=${budget.enabledQ1},
														data-q2=${budget.q2},
														data-q2e=${budget.enabledQ2},
														data-q3=${budget.q3},
														data-q3e=${budget.enabledQ3},
														data-q4=${budget.q4},
														data-q4e=${budget.enabledQ4}">
														<i class=" fa fa-pencil"></i>Edit
													</a>
													<a data-toggle="modal" href="#budget-modal-delete" class="btn btn-danger btn-xs popBudget" sec:authorize="hasAuthority('ROLE_ADMIN')"
													   th:attr="data-id=${budget.id},
														data-name=${budget.name},
														data-sdescription=${budget.descriptionShort},
														data-year=${budget.year},
														data-code=${budget.budgetCode},
														data-status=${budget.status}">
													  <i class="fa fa-trash-o"></i> Delete </a>
												</td>
											</tr>
										</th:block>			
									</tbody>
						       	</table>
						    </div>
                    		
       					</div>
   					</div>
   				</div>
			</div>
		</div>
	</div>
	
	<!-- budget-Modal-Add Start -->
	<form action="#" th:action="@{/budget}" th:object="${budget}" method="post">
		<div class="modal fade clearfix" id="budget-modal-add" tabindex="-1" role="dialog" aria-labellefby="addBudget">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4><label class="modal-title addBudget" id="titleModal">Add budget</label></h4>
					</div>
					 
					<div class="modal-body">
					
						<input class="form-control project-id" type="hidden" th:field="*{project.id}" name="project-id" readonly="readonly" />
						<input class="form-control budget-id" type="hidden" th:field="*{id}" name="budget-id" readonly="readonly" />
						
						<ul class="nav nav-pills nav-stacked col-md-4">
						  <li class="active"><a href="#tab_profile" data-toggle="pill">Profile</a></li>
						  <li><a href="#tab_details" data-toggle="pill">Details</a></li>
						  <li><a href="#tab_breakout" data-toggle="pill">Breakout</a></li>
						</ul>
						
						<div class="tab-content col-md-8">
							
							<div class="tab-pane active" id="tab_profile">
						    	<label for="budgetName">Name:</label>
								<input type="text" th:field="*{name}" id="budgetName" class="form-control budget-name" />
								
								<label for="budgetDescriptionShort">Short Description:</label>
								<input type="text" th:field="*{descriptionShort}" id="budgetDescriptionShort" class="form-control budget-sdescription" />
								
								<label for="budgetDescriptionLong">Long Description:</label>
								<textarea style="resize:none" th:field="*{descriptionLong}" class="form-control budget-ldescription" rows="3" id="budgetDescriptionLong"></textarea>
								
								<label for="budgetYear">Year:</label>
								<input type="text" th:field="*{year}" id="budgetYear" class="form-control project-year" name="year" readonly="readonly" th:value="${project.year}" />
								
								<label for="budgetCode">Budget Code:</label>
								<input type="text" th:field="*{budgetCode}" id="budgetCode" class="form-control budget-code" />
								<br />
								
						    </div>
						    
					        <div class="tab-pane" id="tab_details">
					             <label for="budgetStatus">Status:</label>
								<select th:field="*{status}" id="budgetStatus" class="form-control budget-status">
			                        <option value="">Choose..</option>
			                        <option value="Planning">Planning</option>
			                        <option value="Open">Open</option>
			                        <option value="Closed">Closed</option>
		                        </select>
											
								<label for="budgetCategory" class="control-label">Category:</label>
		                        <select th:field="*{category}" id="budgetCategory" class="form-control budget-category">
			                        <option value="">Choose..</option>
			                        <option value="Datacenter">Datacenter</option>
                           			<option value="License">License</option>
                          				<option value="Software">Software</option>
                          				<option value="Opex">Opex</option>
		                        </select>
		                        
		                        <label for="budgetRegion" class="control-label">Region:</label>
		                        <select th:field="*{region}" id="budgetRegion" class="form-control budget-region">
			                        <option value="">Choose..</option>
			                       	<option value="Global">Global</option>
		                            <option value="USA">USA</option>
		                            <option value="EMEA">EMEA</option>
		                            <option value="APAC">APAC</option>
		                            <option value="LATAM">LATAM</option>
		                        </select>
		                        
		                        <label for="budgetCriticality" class="control-label">Criticality:</label>
		                        <select th:field="*{criticality}" id="budgetCriticality" class="form-control budget-criticality">
			                        <option value="">Choose..</option>
			                        <option value="1 - Lights Out">1 - Lights Out</option>
		                            <option value="2 - Critical">2 - Critical</option>
		                            <option value="3 - Project">3 - Project</option>
		                        </select>
		                        
		                        <label for="budgetRanking" class="control-label">Ranking:</label>
		                        <select th:field="*{ranking}" id="budgetRanking" class="form-control budget-ranking">
			                        <option value="0">Choose..</option>
			                        <option value="1">1</option>
		                            <option value="2">2</option>
		                            <option value="3">3</option>
		                            <option value="4">4</option>
		                        </select>
		                        
		                        <br />
					        </div>
					        
					        <div class="tab-pane" id="tab_breakout">
					        	<label for="budgetQ1amount">Q1 amount:</label>
								<input type="text" th:field="*{q1}" id="budgetQ1amount" class="form-control budget-q1" />
								<label for="budget-q1e" class="control-label">Enabled?</label>
								<input type="checkbox" th:field="*{enabledQ1}" id="budget-q1e" class="flat budget-q1e" />
								<br />								
								<label for="budgetQ2amount">Q2 amount:</label>
								<input type="text" th:field="*{q2}" id="budgetQ2amount" class="form-control budget-q2" />
								<label for="budget-q2e" class="control-label">Enabled?</label>
								<input type="checkbox" th:field="*{enabledQ2}" id="budget-q2e" class="flat budget-q2e" />
								<br />
								<label for="budgetQ3amount">Q3 amount:</label>
								<input type="text" th:field="*{q3}" id="budgetQ3amount" class="form-control budget-q3" />
								<label for="budget-q3e" class="control-label">Enabled?</label>
								<input type="checkbox" th:field="*{enabledQ3}" id="budget-q3e" class="flat budget-q3e" />
								<br />
								<label for="budgetQ4amount">Q4 amount:</label>
								<input type="text" th:field="*{q4}" id="budgetQ4amount" class="form-control budget-q4" />
								<br />
								<label for="budget-q4e" class="control-label">Enabled?</label>
								<input type="checkbox" th:field="*{enabledQ4}" id="budget-q4e" class="flat budget-q4e" />
								
								<br />
					        </div>
						        
						</div><!-- tab content -->				
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary submitButton">Add</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- Budget-Modal-Add/Edit End -->
	<!-- Project-Modal-Delete Start -->
		
			<div class="modal fade" id="budget-modal-delete" tabindex="-1" role="dialog" aria-labellefby="deleteBudget">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="bg-danger" id="deleteBudget">Delete Budget</h4>
							</div>
							
							<div class="modal-body">
	
								<input class="form-control budget-id" type="hidden" name="id" disabled="true"/>
	
								<label for="projectName">Name:</label>
								<input type="text" class="form-control budget-name" disabled="true"/>
																				
							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-danger delete-button">Delete</button>
							</div>
						</div>
					</div>
				</div>
		
	<!-- Project-Modal-Delete End -->		
									
	<!-- Page End -->
	<th:block th:include="/layout/footer :: footer"></th:block>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	<script>
		    $(document).on("click", '.add_budget',function(e) {
				var year = $(this).data('year');
				var projectid = $(this).data('projectid');
				console.log(id);
				$(".project-id").val(projectid);
				$(".project-year").val(year);
				$(".submitButton").val('Add');
				$(".titleModal").text('Add Budget')
			});
	</script>
	<script>
		    $(document).on("click", '.edit_budget',function(e) {
				$(".submitButton").val('Edit');
				$(".titleModal").text('Edit Budget')
			});
	</script>
	<!-- Populate Budget Start -->
    <script>
    	var id;
	    $(document).on("click", '.popBudget',function(e) {
			id = $(this).data('id');
			var projectid = $(this).data('projectid');
			var name = $(this).data('name');
			var sdescription = $(this).data('sdescription');
			var ldescription = $(this).data('ldescription');
			var year = $(this).data('year');
			var code = $(this).data('code');
			var status = $(this).data('status');
			var category = $(this).data('category');
			var region = $(this).data('region');
			var criticality = $(this).data('criticality');
			var ranking = $(this).data('ranking');
			var q1 = $(this).data('q1');
			var q1e = $(this).data('q1e');
			var q2 = $(this).data('q2');
			var q2e = $(this).data('q2e');
			var q3 = $(this).data('q3');
			var q3e = $(this).data('q3e');
			var q4 = $(this).data('q4');
			var q4e = $(this).data('q4e');
			console.log(q1e+':'+q2e+':'+q3e+':'+q4e);
			if (q1e == true){
				$('.budget-q1e').prop('checked', true);
			}else {$('.budget-q1e').prop('checked', false);}
			
			if (q2e == true){
				$('.budget-q2e').prop('checked', true);
			}else {$('.budget-q2e').prop('checked', false);}
			
			if (q3e == true){
				$('.budget-q3e').prop('checked', true);
			}else {$('.budget-q3e').prop('checked', false);}
			
			if (q4e == true){
				$('.budget-q4e').prop('checked', true);
			}else {$('.budget-q4e').prop('checked', false);}
			
			$(".budget-id").val(id);
			$(".project-id").val(projectid);
			$(".budget-name").val(name);
			$(".budget-sdescription").val(sdescription);
			$(".budget-ldescription").val(ldescription);
			$(".budget-year").val(year);
			$(".budget-code").val(code);
			$(".budget-status").val(status);
			$(".budget-category").val(category);
			$(".budget-region").val(region);
			$(".budget-criticality").val(criticality);
			$(".budget-ranking").val(ranking);
			$(".budget-q1").val(q1);
			
			$(".budget-q2").val(q2);
			
			$(".budget-q3").val(q3);
			
			$(".budget-q4").val(q4);
			
			
			$(".addBudget").val('Edit Budget');
			
			
		});
    </script>
    <!-- Populate Budget End -->
    <!-- Delete Budget Start  -->
    <script>
    	$(document).on("click", '.delete-button',function(e) {
    		location.href = "/budget/delete/"+id;
    	});
    </script>
    <!-- Delete Budget End -->
	</div>
</body>
</html>



