<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md" onload="myNotify()">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			<!-- Page Start -->
			<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Project <small>Listing</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Projects</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    	<!--  Modal work here for Add Project -->
						<li><button type="button" data-toggle="modal" data-target="#project-modal-add" class="btn btn-success btn-sm">Add</button></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Project Name</th>
                          <th>Description</th>
                          <th>Budget</th>
                          <th>Status</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
						<th:block th:each="project, rowStat : ${projects}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
							<tr class="toprow pointer clickable-row" th:attr="data-href=@{/project/}, data-id=${project.id}"> <!-- Change This Odd/Even -->
                        
                          <td>#</td>
                          <td>
                          	<th:block th:text="${project.name}"></th:block>
                            <br />
                            <small>Created <th:block th:text="${project.created}"></th:block></small>
                          </td>
						  <td th:text="${project.description}"></td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${(project.spent_budget / project.approved_budget)*100}"></div>
                            </div>
                            <small><th:block th:text="${(project.spent_budget / project.approved_budget)*100}"></th:block> Spent</small>
                          </td>
                          <td>
                          	<div th:switch="${project.status}">
                            	<button th:case="'Open'" type="button" class="btn btn-success btn-xs">Open</button>
                            	<button th:case="'Closed'" type="button" class="btn btn-info btn-xs">Closed</button>
                            	<button th:case="'Planning'" type="button" class="btn btn-warning btn-xs">Planning</button>
                            </div>
                          </td>
                          <td>
                            <a th:href="@{/project/details/}+${project.id}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs" sec:authorize="hasAuthority('ROLE_ADMIN')"><i class="fa fa-pencil"></i> Edit </a>
                            <a th:href="@{/project/delete/}+${project.id}" class="btn btn-danger btn-xs" sec:authorize="hasAuthority('ROLE_ADMIN')"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr></th:block>
                       
                        
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
		<!-- Project-Modal-Add Start -->
		<form action="#" th:action="@{/project}" th:object="${project}" method="post">
			<div class="modal fade" id="project-modal-add" tabindex="-1" role="dialog" aria-labellefby="addProject">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="addUser">Add Project</h4>
						</div>
						
						<div class="modal-body">
								
								
									<label for="projectName">Name:</label>
									<input type="text" th:field="*{name}" id="userName" class="form-control" />
									
									<label for="projectDescription">Description:</label>
									<input type="text" th:field="*{description}" id="projectDescription" class="form-control" />
									
									<label for="projectYear">Year:</label>
									<input type="text" th:field="*{year}" id="projectYear" class="form-control" />
									
									<label for="projectStatus">Status:</label>
									<select th:field="*{status}" id="projectStatus" class="form-control">
				                        <option value="">Choose..</option>
				                        <option value="Planning">Planning</option>
				                        <option value="Open">Open</option>
				                        <option value="Closed">Closed</option>
			                        </select>
												
									<label for="projectType" class="control-label">Type:</label>
			                        <select th:field="*{type}" id="projectType" class="form-control">
				                        <option value="">Choose..</option>
				                        <option value="Infrastructure">Infrastructure</option>
				                        <option value="Project">Project</option>
				                        <option value="Special">Special</option>
			                        </select>
																			
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
						
					</div>
				</div>
			</div>
			</form>
			
			<!-- Page End -->
			<th:block th:include="/layout/footer :: footer"></th:block>
		</div>
	</div>
	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
</body>
</html>

