<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
<th:block th:include="/layout/header :: header-meta"></th:block>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<th:block th:include="/layout/side_nav :: side_nav"></th:block>
			<th:block th:include="/layout/top_nav :: top_nav"></th:block>
			
			<!-- Page Start -->
			<div class="right_col" role="main">
          		<div class="">
					
					<div class="page-title">
						<div class="title-left"></div>
						<div class="title_right">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..." /> <span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
            

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_title">
                    <h2 th:text="${quote.name}"></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">Quote Name </th>
                            <th class="column-title">Vendor </th>
                            <th class="column-title">Status </th>
                            <th class="column-title">Capex </th>
                            <th class="column-title">Opex</th>
                          </tr>
                        </thead>

                        <tbody>
							
							<tr class="toprow pointer"> <!-- Change This Odd/Even -->
								<td th:text="${quote.name}"></td>
								<td th:text="${quote.vendor}"></td>
								<td th:text="${quote.status}"></td>
								<td th:text="${quote.capex}"></td>
								<td th:text="${quote.opex}"></td>
							</tr>
										
											  				  
						</tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Files</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                      	<button type="button" data-toggle="modal" data-target="#file-modal-add" class="btn btn-primary btn-sm add_file" th:attr="data-quoteid=${quote.id}">Upload File</button>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <!-- <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p> -->

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">File Name </th>
                            <th class="column-title">Type </th>
                            <th class="column-title">Created </th>
							<th class="column-title">Action</th>
                          </tr>
                        </thead>

									<tbody>
										<th:block th:each="file, rowStat : ${quote.fileUploads}"  th:class="${rowStat.odd}? 'odd' : 'even'" class="odd">
											<tr class="toprow pointer" th:attr="data-href=@{/quote/}, data-id=${quote.id}">
												<td th:text="${file.name}" class="glyphicon glyphicon-paperclip"></td>
												<td th:text="${file.type}"></td>				
												<td th:text="${file.created}"></td>
												<td class=" last">
													<a th:href="@{/file/download/}+${file.id}" class="btn btn-info btn-xs" sec:authorize="hasAuthority('ROLE_USER')"
													   th:attr="data-fileid=${file.id}"
													   >
													  <i class="fa fa-trash-o"></i> Download </a>
													<a data-toggle="modal" href="#file-modal-delete" class="btn btn-danger btn-xs delete_file" sec:authorize="hasAuthority('ROLE_ADMIN')"
													   th:attr="data-fileid=${file.id}, data-name=${file.name}"
													   >
													  <i class="fa fa-trash-o"></i> Delete </a>
												</td>
											</tr>
										</th:block>			
									</tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
				<!-- File-Modal-Add Start -->
				<form action="#" th:action="@{/file}" method="post" enctype="multipart/form-data">
					<div class="modal fade" id="file-modal-add" tabindex="-1" role="dialog" aria-labellefby="addFile">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="addFile">Add File</h4>
								</div>
								
								<div class="modal-body">
		
									<input class="form-control quote-id" type="hidden" name="id" readonly="readonly" />
		
									<label for="fileName">File:</label>
									<input type="file" id="fileName" class="form-control" name="myFile"/>
																										
									<label for="fileType">Type:</label>
									<select id="fileType" class="form-control" name="fileType">
				                        <option value="">Choose..</option>
				                        <option value="Quote">Quote</option>
				                        <option value="PO">PO</option>
			                        </select>
																														
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- File-Modal-Add End -->
				<!-- File-Modal-Delete Start -->
				<div class="modal fade" id="file-modal-delete" tabindex="-1" role="dialog" aria-labellefby="deleteFile">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="bg-danger" id="deleteQuote">Delete File</h4>
								</div>
								
								<div class="modal-body">
		
									<input class="form-control file-id" type="hidden" name="id" disabled="true"/>
		
									<label for="fileName">Name:</label>
									<input type="text" class="form-control file-name" disabled="true"/>
																					
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger delete-button">Delete</button>
								</div>
							</div>
						</div>
					</div>
				<!-- File-Modal-Delete Start -->
				
				<!-- Page End -->
				<th:block th:include="/layout/footer :: footer"></th:block>
			</div>
		</div>

	<th:block th:include="/layout/footer :: footer-jscript"></th:block>
	<script>
		    var id;
	
			$(document).on("click", '.add_file',function(e) {
				var quoteid = $(this).data('quoteid');
				$(".quote-id").val(quoteid);
			});
		    
		    $(document).on("click", '.delete_file',function(e) {
				id = $(this).data('fileid');
				var name = $(this).data('name');
				
				$(".file-id").val(id);
				$(".file-name").val(name);
			});
		    
		    $(document).on("click", '.delete-button',function(e) {
	    		location.href = "/file/delete/"+id;
	    	});
	</script>
</body>
</html>



