<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-inspinia"></th:block>
</head>

<body>
    <div id="wrapper">
		
		<th:block th:include="/layout/side_nav :: side_nav-inspinia"></th:block>
		
		<div id="page-wrapper" class="gray-bg">
        	<div class="row border-bottom">
				
				<th:block th:include="/layout/top_nav :: top_nav-inspinia"></th:block>
				<th:block th:include="/layout/page_nav :: page_nav-inspinia"></th:block>
				
				<!-- Page Start -->
				<div class="wrapper wrapper-content  animated fadeInRight">
		            <div class="row">
		                <div class="col-sm-8">
		                    <div class="ibox">
		                        <div class="ibox-content">
		                            <!-- <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> -->
		                            <h2>User Adminitration</h2>
		                            <div class="input-group">
		                                <input type="text" placeholder="Search client " class="input form-control" />
		                                <span class="input-group-btn">
		                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
		                                </span>
		                            </div>
		                            <div class="clients-list" id="tabs">
		                            <ul class="nav nav-tabs">
		                                <span class="pull-right"><a data-toggle="modal" href="#user-modal-add" class="popUser" style="color: #1ab394;" data-from="add"><i class="fa fa-plus-square-o fa-3x addicon" aria-hidden="true" data-placement="bottom" title="Add User"></i></a></span>
		                                <li class="active"><a data-toggle="tab" href="#user-tab"><i class="fa fa-user"></i> Users</a></li>
		                                <li class=""><a data-toggle="tab" href="#role-tab"><i class="fa fa-briefcase"></i> Roles</a></li>
		                            </ul>
		                            <div class="tab-content">
		                                <div id="user-tab" class="tab-pane active">
		                                    <div class="full-height-scroll">
		                                        <div class="table-responsive">
		                                            <table class="table table-striped table-hover">
		                                                <tbody th:each="user : ${users}">
		                                                <tr>
		                                                    <td class="client-avatar"><img alt="image" src="/images/profile_small.jpg" /> </td>
		                                                    <td><a data-toggle="tab" th:href="'#'+${user.name}" class="client-link" th:text="${user.fname + ' ' + user.lname}"></a></td>
		                                                    <td th:text="${user.title}"></td>
		                                                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
		                                                    <td th:text="${user.email}"></td>
		                                                    <td class="client-status">
		                                                    	<th:block th:if="${user.enabled}==true">
			                                                    	<a href="#" class="btn btn-primary btn-xs popUser enablePopup" data-from="enabled" th:attr="data-enabled=${user.enabled}, data-userid=${user.id}">Enabled</a>
			                                                    </th:block>
		                                                    	<th:block th:if="${user.enabled}==false">
			                                                    	<a href="#" class="btn btn-warning btn-xs popUser enablePopup" data-from="disabled" th:attr="data-enabled=${user.enabled}, data-userid=${user.id}">Disabled</a>
			                                                    </th:block>
			                                                    <a href="#" class="btn btn-danger btn-xs popUser deletePopup" th:attr="data-userid=${user.id},data-username=${user.name}">Delete</a>
		                                                    </td>
		                                                </tr>
		                                                </tbody>
		                                            </table>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div id="role-tab" class="tab-pane">
		                                    <div class="full-height-scroll">
		                                        <div class="table-responsive">
		                                            <table class="table table-striped table-hover">
		                                                <tbody th:each="role : ${roles}">
		                                                <tr>
		                                                    <td><a data-toggle="tab" th:href="'#' + ${role.name}" class="client-link" th:text="${role.displayName}"></a></td>
		                                                    <td th:text="${role.name}"></td>
		                                                    <td th:text="${role.description}"></td>
		                                                </tr>
		                                                </tbody>
		                                            </table>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		         	</div>
		           	<div class="col-sm-4">
		               	<div class="ibox ">
		                   	<div class="ibox-content">
		                       	<div class="tab-content">
		                           	<th:block th:each="usertab : ${users}">
		                               	<div th:id="${usertab.name}" class="tab-pane">
		                                   	<div class="row m-b-lg">
		                                       	<div class="col-lg-4 text-center">
		                                           	<h2 th:text="${usertab.fname} + ' ' + ${usertab.lname}"></h2>
		
		                                           	<div class="m-b-sm">
		                                               	<img alt="image" class="img-circle" src="/images/profile_small.jpg" style="width: 62px" />
		                                           	</div>
		                                       	</div>
		                                       	<div class="col-lg-8">
		                                            <strong>
		                                                Profile
		                                            </strong>
													<br />
		                                            <p th:text="'username: ' + ${usertab.name}"></p>
		                                            <p th:text="'email: ' + ${usertab.email}"></p>  
		                                            <br />
		                                            <a  data-toggle="modal" href="#user-modal-add" class="btn btn-info btn-sm btn-block popUser" data-from="edit"
		                                            	th:attr="data-userid=${usertab.id},
																 data-username=${usertab.name},
																 data-fname=${usertab.fname},
																 data-lname=${usertab.lname},
																 data-email=${usertab.email},
																 data-title=${usertab.title},
																 data-enabled=${usertab.enabled}">
													<i class="fa fa-user-circle"></i> Edit
		                                            </a>                                          
		                                            <a  th:href="'mailto:'+ ${usertab.email}" class="btn btn-primary btn-sm btn-block"><i
		                                                    class="fa fa-envelope"></i> Send Message
		                                            </a>
		                                       	</div>
		                                   	</div>
		                                   		                    
		                                   	<div class="client-detail">
		                                   		<div class="full-height-scroll">
													
													<strong>Roles</strong>
														
			                                        <ul class="list-group clear-list">
			                                        	<th:block th:each="role : ${usertab.roles}">
				                                            <li class="list-group-item fist-item">
				                                                <span th:text="${role.name}"></span>
				                                            </li>
				                                    	</th:block>
			                                        </ul>
													
													<strong>History</strong>
											
													<!-- Add user History -->
			                                        <ul class="list-group clear-list">
			                                            <li class="list-group-item fist-item">
			                                                <span class="pull-right"> 09:00 pm </span>
			                                                Added Budget XXX
			                                            </li>
			                                            <li class="list-group-item">
			                                                <span class="pull-right"> 10:16 am </span>
			                                                Enabled Budget XXX Q1
			                                            </li>
			                                            <li class="list-group-item">
			                                                <span class="pull-right"> 08:22 pm </span>
			                                                Added Quote YYY
			                                            </li>
			                                            <li class="list-group-item">
			                                                <span class="pull-right"> 11:06 pm </span>
			                                                Deleted user Frank
			                                            </li>
			                                            <li class="list-group-item">
			                                                <span class="pull-right"> 12:00 am </span>
			                                                Enabled user Angus
			                                            </li>
			                                        </ul>
			                                        <span class="pull-right"><a href="#" >...more history</a></span>
		                                   		</div>
		                                    </div>
		                                </div>
		                         	</th:block>
		                                
		                            <th:block th:each="roletab : ${roles}">
		                            	<div th:id="${roletab.name}" class="tab-pane">
		                            		<div class="m-b-lg">
		                            			<h2 th:text="${roletab.name}"></h2>
		                            			<p th:text="${roletab.description}"></p>
		                                    </div>
		                                    <div class="client-detail">
		                                        <div class="full-height-scroll">
													
													<strong>Users</strong>
														
			                                        <ul class="list-group clear-list">
			                                        	<th:block th:each="roleuser : ${roletab.users}">
				                                            <li class="list-group-item fist-item">
				                                                <span th:text="${roleuser.name}"></span>
				                                            </li>
				                                    	</th:block>
			                                        </ul>
		                                    	</div>
		                                	</div>
		                                </div>
		                            </th:block>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
							
				<!-- Page End -->
				
				<!-- Modal user-modal-add/edit Start -->
				<form class="m-t" role="form" th:action="@{/settings/user/save}" th:object="${user}" method="post">
					<div class="modal inmodal" id="user-modal-add" tabindex="-1" role="dialog" aria-hidden="true">
	                	<div class="modal-dialog">
	                    	<div class="modal-content animated bounceInRight">
	                        	
	                        	<div class="modal-header">
	                            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                                <i class="fa fa-user-circle modal-icon"></i>
	                                <h4 class="modal-title"><label class="fromtitle"></label></h4>
	                                <small class="font-bold frombody"></small>
	                           	</div>
	                            
	                            <div class="modal-body">
	                            		
	                            		<input class="form-control user-id" type="hidden" th:field="*{id}" name="userid"/>
	                            		
						            	<div class="form-group">
						                    <input type="text" class="form-control user-username" placeholder="Username" required="" th:field="*{name}"/>
						                </div>
						                <div class="form-group">
						                    <input type="text" class="form-control user-fname" placeholder="First Name" required="" th:field="*{fname}"/>
						                </div>
						                <div class="form-group">
						                    <input type="text" class="form-control user-lname" placeholder="Last Name" required="" th:field="*{lname}"/>
						                </div>
						                <div class="form-group">
						                    <input type="email" class="form-control user-email" placeholder="Email" required="" th:field="*{email}" />
						                </div>
						                <div class="form-group">
						                    <input type="text" class="form-control user-title" placeholder="Title" required="" th:field="*{title}"/>
						                </div>
						                <div class="form-group">
						                    <input type="password" class="form-control user-password" placeholder="Password" required="" th:field="*{password}"/>
						                </div>
						                <div class="form-group">
					                        <div class="checkbox i-checks"><label> <input type="checkbox" class="user-enabled" th:field="*{enabled}" /><i></i> Enable User </label></div>
					                	</div>
					                	
					                	<div>
					                		<span class="pull-right"><a data-toggle="modal" href="#user-modal-roles" class="btn btn-info btn-xs" >Roles</a></span>
					                	</div>
	                            </div>
	                                        
	                            <div class="modal-footer">
	                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
	                                <button type="submit" class="btn btn-primary">Save changes</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>	                
	                <!-- (Continue Form) - Modal user-modal-roles Strat -->
	                <div class="modal inmodal" id="user-modal-roles" tabindex="-1" role="dialog" aria-hidden="true">
           				<div class="modal-dialog modal-sm">
               				<div class="modal-content">
                   				<div class="modal-header">
                       				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           			<h2 class="modal-title">Select Roles</h2>
                      			</div>
                       
                       			<div class="modal-body">
                       				<th:block th:each="modalroles : ${roles}">
                       					<div class="checkbox i-checks"><label> <input type="checkbox" th:text="${modalroles.name}" th:value="${modalroles.name} "/></label></div>
                       				</th:block>
                       			</div>
                       						
              					<div class="modal-footer">
	                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
	                                <button type="button" class="btn btn-primary addUserRoles" >Save Roles</button>
	                            </div>
                       		</div>
               			</div>
               		</div>
					<!-- Modal user-modal-roles End -->
				</form>	
				<!-- Modal user-modal-add/edit Start -->
				
				<th:block th:include="/layout/footer :: footer-inspinia"></th:block>
				<th:block th:include="/layout/footer :: js-inspinia"></th:block>
				<th:block th:include="/layout/footer :: customjs-inspinia"></th:block>
				<script>
					var id;
					var enabled;
					$(document).ready(function() {
					    // Tab initialization
					    $('#tabs').tabs({
					        select: function(event, ui){
					            var tabNumber = ui.index;
					            var tabName = $(ui.tab).text();
					            
					            console.log('Tab number ' + tabNumber + ' - ' + tabName + ' - clicked');
					        }
					    });
					});
					
					$(document).on("click", '.addUserRoles',function(e) {
						var searchIDs = $("input:checkbox:checked").map(function(){
							return this.value;
						}).toArray();
						
						console.log(searchIDs);

					});
					
					$(document).on("click", '.popUser',function(e) {
						id = $(this).data('userid');
						var username = $(this).data('username');
						var fname = $(this).data('fname');
						var lname = $(this).data('lname');
						var email = $(this).data('email');
						var title = $(this).data('title');
						enabled = $(this).data('enabled');
						var from = $(this).data('from');
						
						if (from == 'add') {
							$(".fromtitle").text("Add User");
							$(".frombody").text("Add new users to access the site.");
							$(".user-password").show();
						} else if (from == 'edit') {
							$(".fromtitle").text("Edit User");
							$(".frombody").text("Edit users on the site.");
							if (enabled == true){
								$('.user-enabled').prop('checked', true);
							}else {$('.user-enabled').prop('checked', false);}
							$(".user-enabled").val(enabled);
							$(".user-password").removeAttr('required');
							$(".user-password").val("password");
							$(".user-password").hide();
						} 

						$(".user-id").val(id);
						$(".user-username").val(username);
						$(".user-fname").val(fname);
						$(".user-lname").val(lname);
						$(".user-email").val(email);
						$(".user-title").val(title);

					});
					
					$(document).on("click", '.enablePopup',function(e) {
						var enable;
						var msg;
						var buttonColor;
						console.log(enabled);
						if (enabled == true) {enable = "Disable";msg="warning";buttonColor="#DD6B55";}
						else {enable = "Enable";msg="success";buttonColor="#1ab394";}
						swal({
					        title: "Are you sure?",
					        type: msg,
					        showCancelButton: true,
					        confirmButtonColor: buttonColor,
					        confirmButtonText: "Yes, "+enable+" User!",
			                cancelButtonText: "No, cancel please!",
		                    closeOnConfirm: false,
		                    closeOnCancel: false },
		                    function (isConfirm) {
		                   		if (isConfirm) {
		                   			$.ajax({
							    	    type: "GET",
							    	    url: "/settings/user/enable/"+id,
							    	    data: "{}",
							    	    async: true,
							    	    dataType: "text",
		                   			});
		                   			
		                   			setTimeout(function(){window.location.reload(true);},100)
		                        } else {
		                            swal("Cancelled", "The User is safe :)", "error");
		                        }
						});
		       		});
		       		
					$(document).on("click", '.deletePopup',function(e) {
						
						swal({
					        title: "Are you sure?",
					        text: "You will not be able to recover this User!",
					        type: "warning",
					        showCancelButton: true,
					        confirmButtonColor: "#DD6B55",
					        confirmButtonText: "Yes, delete User!",
			                cancelButtonText: "No, cancel please!",
		                    closeOnConfirm: false,
		                    closeOnCancel: false },
		                    function (isConfirm) {
		                   		if (isConfirm) {
		                   			$.ajax({
							    	    type: "GET",
							    	    url: "/settings/user/delete/"+id,
							    	    data: "{}",
							    	    async: true,
							    	    dataType: "text",
		                   			});
		                   			
		                   			setTimeout(function(){window.location.reload(true);},100)
		                        } else {
		                            swal("Cancelled", "The User is safe :)", "error");
		                        }
						});
		       		});
				</script>
	
			</div>
		</div>
	</div>
</body>

</html>