<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-inspinia"></th:block>
</head>

<body>
    <div id="wrapper">
		
		<th:block th:include="/layout/side_nav :: side_nav-inspinia"></th:block>
		
		<div id="page-wrapper" class="gray-bg">
        	<div class="row border-bottom">
				
				<th:block th:include="/layout/top_nav :: top_nav-inspinia"></th:block>
				<th:block th:include="/layout/page_nav :: page_nav-inspinia"></th:block>
				
				<!-- Page Start -->
				<div class="row">
		            <div class="col-lg-12">
		                <div class="wrapper wrapper-content animated fadeInUp">
							<div class="row m-b-lg m-t-lg">
               					<div class="col-md-1"></div>
               						<div class="col-md-4">
										<div class="profile-image">
	                        				<i class="fa fa-folder-open-o fa-5x" aria-hidden="true"></i>
	                    				</div>
                    					<div class="profile-info">
                       						<div class="">
                            					<div>
					                                <h2 class="no-margins" th:text="${quote.name}">
					                                	<span th:if="${quote.status} == 'Staged'" class="label label-success">Staged</span>
			                                            <span th:if="${quote.status} == 'Paid'" class="label label-primary">Paid</span>
			                                            <span th:if="${quote.status} == 'Pending'" class="label label-warning">Pending</span> 
			                                            <span th:if="${quote.status} == 'Canceled'" class="label label-default">Canceled</span> 
					                                </h2>
					                                <h3 th:text="${quote.vendor} +' | '+ ${quote.vendorContact}"></h3>
				                                	<small>Created</small><small th:text="${quote.dateCreated}"></small>
					                            </div>
					                        </div>
					                    </div>
					                </div>
                					<div class="col-md-3">
                						<h4><i class="fa fa-info-circle" aria-hidden="true"></i> Details</h4>
				                    	<table class="table small m-b-xs">
				                       		<tbody>
						                        <tr>
						                            <td><strong ></strong> Budgets</td>
						                            <td>
						                            	<i class="fa fa-usd" aria-hidden="true"></i>
						                                <strong th:text="${#numbers.formatDecimal(quote.capex, 0, 'COMMA', 2, 'POINT')}"></strong> Capex
						                            </td>
						                        </tr>
						                        <tr>
						                            <td><strong></strong> Quotes</td>
						                            <td>
						                            	<i class="fa fa-usd" aria-hidden="true"></i>
						                                <strong th:text="${#numbers.formatDecimal(quote.opex, 0, 'COMMA', 2, 'POINT')}"></strong> Opex
						                            </td>
						                        </tr>
						                        <tr>
						                            <td><strong  th:text="${count}"></strong> Files</td>
						                            <td>
						                            	<i class="fa fa-usd" aria-hidden="true"></i>
						                                <strong ></strong> Requested
						                            </td>
						                        </tr>
					                        </tbody>
					                    </table>
               						</div>
               						<div class="col-md-3">
               							<!-- History List -->
               							<h4><i class="fa fa-history" aria-hidden="true"></i> History</h4>
					                    <table class="table small m-b-xs">
				                       		<tbody>
						                        <tr>
						                            <td>Budget Added By Admin</td>
						                       	</tr>
						                       	<tr>
						                       		<td>Quote Deleted By Admin</td>
						                       	</tr>
						                       	<tr>
						                            <td><span class="pull-right"><a href="#">...</a></span>File Added By Admin</td>
						                       	</tr>
						                   	</tbody>
						            	</table>
					                </div>
								</div>
					
		                   		<div class="ibox">
			                        <div class="ibox-title">
			                            <div class="ibox-tools">
			                                <a data-toggle="modal" href="#saveModal" class="btn btn-primary btn-xs popFile" th:attr="data-quotename=${quote.name},data-quoteid=${quote.id}">Upload File</a>
			                            </div>
			                        </div>
		                        	<div class="ibox-content">
			                            <div class="row m-b-sm m-t-sm">
			                                <div class="col-md-1">
			                                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
			                                </div>
			                                <div class="col-md-11">
			                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" /> <span class="input-group-btn">
			                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
			                                </div>
			                            </div>
		                            	<div class="file-list">
		                                	<table class="table table-hover">
		                                   		<tbody th:each="file : ${quote.fileUploads}">
		                                    		<tr>
				                                        <td class="file-name">
				                                            <span th:text="${file.name}"></span>
				                                            <br/>
				                                            <small>Created <span th:text="${file.dateCreated}"></span></small>
				                                        </td>
				                                        <td class="file-type" th:text="${file.type}"></td>
				                                        <td class="file-actions">
				                                            <a th:href="@{/file/download/}+${file.id}" class="btn btn-white btn-sm" th:attr="data-fileid=${file.id}">
				                                            	<i class="fa fa-folder"></i> 
				                                            	Download 
				                                            </a>
				                                            <button class="btn btn-white btn-sm popFile deletePopup" 
				                                            	th:attr="data-id=${file.id}">
				                                            	<i class="fa fa-trash"></i> Delete 
				                                            </button>
				                                        </td>
		                                    		</tr>
		                                   		</tbody>
		                                	</table>
		                            	</div>
		                        	</div>
		                    	</div>
		                	</div>
		            	</div>
		        	</div>
					<!-- Page End -->
					
					<!-- Project-Modal-Add/Edit Start -->
					<form class="m-t" role="form" id="form" th:action="@{/settings/file/save}" method="post" enctype="multipart/form-data">
						<div class="modal inmodal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
		                	<div class="modal-dialog">
		                    	<div class="modal-content animated bounceInRight">
		                        	<div class="modal-header">
		                            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		                                <i class="fa fa-laptop modal-icon"></i>
		                                <h4 class="modal-title"><label class="modalTitle"></label></h4>
		                                <small class="font-bold modalHeader"></small>
		                            </div>
	                            
	                            	<div class="modal-body">

										<input class="form-control quoteID" type="hidden" th:field="*{quote.id}" />

										<label for="fileName">File:</label>
										<input type="file" id="fileName" class="form-control" name="myFile"/>
																											
										<label for="fileType">Type:</label>
										<select id="fileType" class="form-control" name="fileType">
					                        <option value="">Choose..</option>
					                        <option value="Quote">Quote</option>
					                        <option value="PO">PO</option>
				                        </select>									
		                            
			                         </div>
			                         
			                         <div class="modal-footer">
		                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Upload</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>	
		           	</form>	
					<!-- Project-Modal-Add/Edit End -->
					
				<th:block th:include="/layout/footer :: footer-inspinia"></th:block>
				<th:block th:include="/layout/footer :: js-inspinia"></th:block>
				<th:block th:include="/layout/footer :: customjs-inspinia"></th:block>
				<script>
			    	var id;
				    $(document).on("click", '.popFile',function(e) {
						id = $(this).data('id');
						var quotetid = $(this).data('quoteid');
						var qname = $(this).data('quotename');
					
						$(".modalTitle").text("Upload File");
						$(".modalHeader").text("Upload a new File to Quote "+qname+".");

						$(".quoteID").val(quoteid);
						$(".quoteName").val(name);
					});
					
					$(document).on("click", '.deletePopup',function(e) {
						console.log(id);
						swal({
					        title: "Are you sure?",
					        text: "You will not be able to recover this Quote!",
					        type: "warning",
					        showCancelButton: true,
					        confirmButtonColor: "#DD6B55",
					        confirmButtonText: "Yes, delete it!",
			                cancelButtonText: "No, cancel please!",
		                    closeOnConfirm: false,
		                    closeOnCancel: false },
		                    function (isConfirm) {
		                   		if (isConfirm) {
		                   			$.ajax({
							    	    type: "GET",
							    	    url: "/settings/file/delete/"+id,
							    	    data: "{}",
							    	    async: true,
							    	    dataType: "text",
		                   			});
		                   			
		                   			setTimeout(function(){window.location.reload(true);},100)
		                        } else {
		                            swal("Cancelled", "Your Quote is safe :)", "error");
		                        }
						});
		       		});

				</script>
				
			</div>
		</div>
	</div>
</body>

</html>