<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="footer">
		<footer>
			<div class="pull-right">
				Budget Express by Tim Davis
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</th:block>
	
	<th:block th:fragment="footer-jscript">
		<!-- jQuery -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <!-- Bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <!-- FastClick -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
	    <!-- Chart.js -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	    <!-- gauge.js 
	    <script src="/vendors/gauge.js/dist/gauge.min.js"></script> -->
	    <!-- Skycons
	    <script src="/vendors/skycons/skycons.js"></script> -->
	    <!-- Flot -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.js"></script>
	    <!-- Flot plugins
	    <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
	    <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
	    <script src="/vendors/flot.curvedlines/curvedLines.js"></script> -->
	    <!-- DateJS -->
	    <script src="/vendors/date.js"></script>
	    <!-- bootstrap-daterangepicker -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.js"></script>
		
		<!-- Notify JS -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.js"></script>
		
		<!-- Progressbar -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.js"></script>
		
	    <!-- Custom Theme Scripts -->
	    <script src="/build/js/custom.min.js"></script>

	    

	    
	
	    

	    
	    <!-- bootstrap-daterangepicker Start-->
	    <script>
	      $(document).ready(function() {
	
	        var cb = function(start, end, label) {
	          console.log(start.toISOString(), end.toISOString(), label);
	          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	        };
	
	        var optionSet1 = {
	          startDate: moment().subtract(29, 'days'),
	          endDate: moment(),
	          minDate: '01/01/2012',
	          maxDate: '12/31/2015',
	          dateLimit: {
	            days: 60
	          },
	          showDropdowns: true,
	          showWeekNumbers: true,
	          timePicker: false,
	          timePickerIncrement: 1,
	          timePicker12Hour: true,
	          ranges: {
	            'Today': [moment(), moment()],
	            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
	            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
	            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
	            'This Month': [moment().startOf('month'), moment().endOf('month')],
	            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
	          },
	          opens: 'left',
	          buttonClasses: ['btn btn-default'],
	          applyClass: 'btn-small btn-primary',
	          cancelClass: 'btn-small',
	          format: 'MM/DD/YYYY',
	          separator: ' to ',
	          locale: {
	            applyLabel: 'Submit',
	            cancelLabel: 'Clear',
	            fromLabel: 'From',
	            toLabel: 'To',
	            customRangeLabel: 'Custom',
	            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
	            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
	            firstDay: 1
	          }
	        };
	        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
	        $('#reportrange').daterangepicker(optionSet1, cb);
	        $('#reportrange').on('show.daterangepicker', function() {
	          console.log("show event fired");
	        });
	        $('#reportrange').on('hide.daterangepicker', function() {
	          console.log("hide event fired");
	        });
	        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
	          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
	        });
	        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
	          console.log("cancel event fired");
	        });
	        $('#options1').click(function() {
	          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
	        });
	        $('#options2').click(function() {
	          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
	        });
	        $('#destroy').click(function() {
	          $('#reportrange').data('daterangepicker').remove();
	        });
	      });
	    </script>
	    <!-- /bootstrap-daterangepicker End -->
	
		<!-- Notify Start -->
		<script>
		  $('.bottom-right').notify({
			    message: { text: 'User Added!' }
			  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
		</script>
	    <!-- Notify End -->
	    <!--  Clickable Rows -->
		<script>
			$(document).ready(function($) {
	    		$(".clickable-row").click(function() {
	    			var link = $(this).data("href");
	    			var id = $(this).data("id");
	        		window.location = link+id;
	    		});
			});
		</script>
		
		<!-- 2 Decimals -->
		<script>
			function decimalizer(input) {
			var test1 = 0;
			var test2 = 0;
			input = Math.round(input*100);
			if (input/100 == Math.round(input/100)) {
			test1 = 1;
			} else if (input/10 == Math.round(input/10)) {
			test2 = 1;
			}
			/*<![CDATA[*/
			if (test1==1 && test2==0) {
			window.document.write(input/100 + ".00");
			} else if (test1==0 && test2==1) {
			window.document.write(input/100 + "0");
			} else {
			window.document.write(input/100);
			}/*]]>*/
			}
		</script>
  
	</th:block>
</th:block>