<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="footer">
		<footer>
			<div class="pull-right">
				vBudget by Tim Davis
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</th:block>
	
	<th:block th:fragment="footer-inspinia">
		<div class="footer">
        	<div class="pull-right">
            	
            	<span th:text="'Logged in as ' + ${user.name}"></span>
        	</div>
        	<div>
            	<strong>Budget Tracker</strong> by Tim Davis
        	</div>
    	</div>
	</th:block>
	
	<th:block th:fragment="js-inspinia">
		
		<!-- jQuery -->
	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	    <!-- jQueryUI -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	    <!-- Bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <!-- MetisMenu -->
	    <script src="/build/js/plugins/metismenu/jquery.metisMenu.js"></script>
	    <!-- Slim Scroll -->
	    <script src="/build/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<!-- iCheck -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
		<!-- Sweet alert -->
    	<script src="/build/js/plugins/sweetalert/sweetalert.min.js"></script>
    	<!-- Steps -->
    	<script src="/build/js/plugins/steps/jquery.steps.min.js"></script>
    	<!-- Jquery Validate -->
    	<script src="/build/js/plugins/validate/jquery.validate.min.js"></script>
		
	
	    <!-- Custom and plugin javascript -->
	    <script src="/build/js/inspinia.js"></script>
	    <script src="/build/js/plugins/pace/pace.min.js"></script>
	    <script src="/build/js/plugins/initial/initial.min.js"></script>
	    
	</th:block>
	
	<th:block th:fragment="customjs-inspinia">
		<!-- Initialize Initials Start -->
		<script>
			$(document).ready(function() {
				$(".profile").initials();
			});
		</script>
		<!-- Initialize Initials End -->
	</th:block>
	
	<th:block th:fragment="footer-jscript">
		<!-- jQuery -->
	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	    <!-- Bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	    <!-- DateJS -->
	    <script src="/vendors/date.js"></script>
	    <!-- bootstrap-daterangepicker -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.js"></script>
		
		<!-- Progressbar -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.js"></script>
	    
	    <!-- ECharts -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.min.js"></script>
	    
		
	    <!-- Custom Theme Scripts -->
	    <script src="/build/js/custom.min.js"></script>
	
	    

	    
		<!--  Clickable Rows -->
		
		<script>
		    $(".clickable-row").click(function() {
		    	var link = $(this).data("href");
		    	var id = $(this).data("id");
		        window.location = link+id;
		    });
	       $(document).ready(function(){
	            $('.i-checks').iCheck({
	                checkboxClass: 'icheckbox_square-green',
	                radioClass: 'iradio_square-green',
	            });
	        });

		</script>
		<!--  Clickable Rows -->

  
	</th:block>
</th:block>