<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<th:block th:fragment="side_nav">
		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a th:href="@{/index}" class="site_title"><i class="fa fa-money"></i>
						<span>vBudget</span></a>
				</div>

				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				<div class="profile">
					<div class="profile_pic">
						<img src="/images/fallout.png" alt="..." class="img-circle profile_img" />
					</div>
					<div class="profile_info">
						<span>Welcome,</span>
						<h2><th:body th:text="${username}" /></h2>
					</div>
				</div>
				<!-- /menu profile quick info -->

				<br /><br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<h3>Menu</h3>
						<ul class="nav side-menu">
              				<th:block sec:authorize="isAuthenticated()">
            				
							<li>
								<a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a th:href="@{/dashboard}">Dashboard</a></li>
								</ul>
							</li>
							<li>
								<a><i class="fa fa-table"></i> Project <span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a th:href="@{project/list}">Projects</a></li>
									<li><a th:href="@{project/details}">Temp - Details</a></li>
								</ul>
							</li>
							</th:block>
							<li sec:authorize="hasAuthority('ROLE_ADMIN')">
								<a><i class="fa fa-cogs"></i> Admin <span	class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a th:href="@{project}">Projects</a></li>
									<li><a th:href="@{project/refresh}">Refresh</a></li>
									<li><a th:href="@{admin}">Users</a></li>
									
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- /sidebar menu -->
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="side_nav-inspinia">
		
		<nav class="navbar-default navbar-static-side" role="navigation">
        	<div class="sidebar-collapse">
            	<ul class="nav metismenu" id="side-menu">
                	<li class="nav-header">
                    	<div class="dropdown profile-element"> 
              
                    		<span>
                    			<img class="profile img-circle" th:attr="data-name=${user.fname} + ' ' + ${user.lname}"/>
                           	</span>
                          	
                          	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          		<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"  th:text="'Welcome, ' + ${user.name}"></strong></span> 
                           		<span class="text-muted text-xs block" ><b class="caret"><th:block th:if="${user.title != null}" th:text="${user.title}" /></b></span> </span> 
                           	</a>
                          	
                          	<ul class="dropdown-menu animated fadeInRight m-t-xs">
                            	<li><a href="">Profile</a></li>
                                <li class="divider"></li>
                              	<li><a th:href="@{/logout}">Logout</a></li>
                          	</ul>
                      	</div>
						
						<div class="logo-element">
                        	BT
                      	</div>
                  	</li>
                  	
                  	<li class="linkHome">
                    	<a th:href="@{/}"><i class="fa fa-home"></i> <span class="nav-label">Home</span> <span class="fa home"></span></a>	
                  	</li>
                  		
                  	<li class="linkDashboard">
                  		<a href="#"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboards</span> <span class="fa home"></span></a>
                  		<ul class="nav nav-second-level">
                  				<li><a href="#">*Coming Soon*</a></li>
                          		<!-- 
                          		<li><a href="index.html">Dashboards</a></li>
                          		<li><a href="dashboard_2.html">Project</a></li>
                          		<li><a href="dashboard_3.html">Budget</a></li> -->
                      		</ul>
                  	</li>
                  	
                  	<li class="linkProjects">
                  		<a href="#"><i class="fa fa-folder-o"></i> <span class="nav-label">Projects</span> <span class="fa folder-o"></span></a>
                  		<ul class="nav nav-second-level">
                          		<li class="activeProjects"><a th:href="@{/main/projects/open}">Active Projects</a></li>
                          		<li class="planningProjects"><a th:href="@{/main/projects/planning}">Planning Projects</a></li>
                          		<li class="closedProjects"><a th:href="@{/main/projects/closed}">Closed Projects</a></li>
                          		<li class="allProjects"><a th:href="@{/main/projects/all}">All Projects</a></li>
                      		</ul>
                  	</li>
                  	
                  	<li sec:authorize="hasAuthority('ROLE_ADMIN')">
                  		<a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span> <span class="fa folder-o"></span></a>
                  		<ul class="nav nav-second-level">
                          		<li><a th:href="@{/settings/users}">Users</a></li>
                          		<li><a th:href="@{/settings/log/}">Log</a></li>
                          		<li><a th:href="@{/settings/blogs/}">Blog</a></li>
                      		</ul>
                  	</li>
                  	
				</ul>
			</div>
        </nav>			
	</th:block>
	
	
</th:block>