<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
	<th:block th:include="/layout/header :: header-inspinia"></th:block>
</head>

<body>
    <div id="wrapper">
		
		<th:block th:include="/layout/side_nav :: side_nav-inspinia"></th:block>
		
		<div id="page-wrapper" class="gray-bg">
        	<div class="row border-bottom">
				
				<th:block th:include="/layout/top_nav :: top_nav-inspinia"></th:block>
				<th:block th:include="/layout/page_nav :: page_nav-inspinia"></th:block>
				
				<!-- Page Start -->
				<div class="row">
		            <div class="col-lg-12">
		                <div class="wrapper wrapper-content animated fadeInUp">
		
		                    <div class="ibox">
		                        <div class="ibox-title">
		                            <h5>All projects</h5>
		                            <div class="ibox-tools">
		                                <a sec:authorize="hasAuthority('ROLE_ADMIN')" data-toggle="modal" href="#projectSave" class="btn btn-primary btn-xs popProject" data-modal="add">Create new project</a>
		                            </div>
		                        </div>
		                        <div class="ibox-content">
		                            <div class="row m-b-sm m-t-sm">
		                                <div class="col-md-1">
		                                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
		                                </div>
		                                <div class="col-md-11">
		                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" /> <span class="input-group-btn">
		                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
		                                </div>
		                            </div>
		
		                            <div class="project-list">
		
		                                <table class="table table-hover">
		                                    <tbody th:each="project : ${projects}">
		                                    <tr>
		                                        <td class="project-status col-lg-1">
		                                            <span th:if="${project.status} == 'Open'" class="label label-primary pull-left">Active</span>
		                                            <span th:if="${project.status} == 'Closed'" class="label label-default pull-left">Inactive</span>
		                                            <span th:if="${project.status} == 'Planning'" class="label label-warning pull-left">Planning</span>
		                                        </td>
		                                        <td class="project-year col-lg-1" th:text="${project.year}"></td>
		                                        <td class="project-title col-lg-2">
		                                            <span th:text="${project.name}"></span>
		                                            <br/>
		                                            <small>Created <span th:text="${project.dateCreated}"></span></small>
		                                        </td>
		                                        <td class="project-completion col-lg-1">
		                                                <small th:if="${project.budgetApproved} != 0" th:text="${(project.budgetSpent / project.budgetApproved)*100}+'% Spent'"></small>
		                                                <div class="progress progress-mini">
		                                                    <div th:if="${project.budgetApproved} != 0" th:style="'width: ' + ${(project.budgetSpent / project.budgetApproved)*100} + '%;'" class="progress-bar"></div>
		                                                    <div th:if="${project.budgetApproved} == 0" style="width:0;" class="progress-bar"></div>
		                                                </div>
		                                        </td>
		                                        <td class="project-description col-lg-4" th:text="${project.description}"></td>
		                                        <td class="project-type col-lg-1" th:text="${project.type}"></td>
		                                        <td class="project-actions col-lg-2">
		                                            <a th:href="@{/main/project/} + ${project.id}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
		                                            <a sec:authorize="hasAuthority('ROLE_ADMIN')" data-toggle="modal" href="#projectSave" class="btn btn-white btn-sm popProject" data-modal="edit"
		                                            	th:attr="data-projectid=${project.id},
		                                            		data-name=${project.name},
		                                            		data-description=${project.description},
		                                            		data-year=${project.year},
		                                            		data-status=${project.status},
		                                            		data-type=${project.type}">
		                                            	<i class="fa fa-pencil"></i> Edit 
		                                            </a>
		                                            <button sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-white btn-sm popProject deleteProject" 
		                                            	th:attr="data-projectid=${project.id},
		                                            		data-name=${project.name},
		                                            		data-year=${project.year}">
		                                            	<i class="fa fa-trash"></i> Delete 
		                                            </button>
		                                        </td>
		                                    </tr>
		                                    </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
				<!-- Page End -->
				
				<!-- Project-Modal-Add/Edit -->
				<th:block th:include="/layout/modal :: modal-projectSave"></th:block>
				
				<th:block th:include="/layout/footer :: footer-inspinia"></th:block>
				<th:block th:include="/layout/footer :: js-inspinia"></th:block>
				<th:block th:include="/layout/footer :: customjs-inspinia"></th:block>
				
				<!-- Project-Jscript -->
				<th:block th:include="/layout/footer :: customjs-popProject"></th:block>
				<th:block th:include="/layout/footer :: customjs-deleteProject"></th:block>
			</div>
		</div>
	</div>
</body>

</html>